/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
	
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

body.Android {
	text-rendering: auto;
}

.centertext {
	text-align: center;
}

/* main UI *************************************************/

body {
	font-family: "Helvetica Neue", "Helvetica", Helvetica Neue, Helvetica, sans-serif !important;
	font-smooth:always !important;
	-webkit-font-smoothing: antialiased !important;
}

.Android strong {
	font-weight: bold;
}

.hide {
	display: none;
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

.pl5 {
	padding-left: 5px;
}

.pr5 {
	padding-right: 5px;
}

.bold {
	font-weight: bold !important;
}

.topcoat-navigation-bar {
	position: fixed;
	width: 100%;
	padding: 0rem;
	z-index: 10;
	background-color: #f8f8f8;
}

.topcoat-navigation-bar__title {
	font-size: 1rem;
	font-weight: 500;
	display: inline;
	margin-left: 0;
}

.spinner {
	color: #CFCFCF;
	width: 20px;
	display: none;
}

.header .topcoat-navigation-bar__item {
	padding: 10px 0 0 0;
}

.header .topcoat-navigation-bar__item.center.half,
.header .topcoat-navigation-bar__item.center.full {
	margin-left: -0.3rem;
	padding-top: 0.4rem;
}

.topcoat-navigation-bar__item.left .icon {
	padding-left: 1rem;
}

.topcoat-navigation-bar__item.right .icon {
	padding-right: 1.3rem;
}

.Android .header, .iOS6_or_lower .header {
	height: 2.75rem;
}

.iOS6_or_lower .header .topcoat-navigation-bar__item {
	padding: 0px 0 0 0;
	line-height: 2rem;
	
}

.Android .header .topcoat-navigation-bar__item {
	line-height: 2.15rem;
}

.iOS6_or_lower .header .topcoat-navigation-bar__item a {
	margin-top: 0.6rem;
}

.Android .header .topcoat-navigation-bar__item a {
	margin-top: 0;
}

.header .icon-angle-left {
	font-size: 2.2rem;
	margin-top: 0.65rem;
}

.iOS6_or_lower .header .topcoat-navigation-bar__item a.icon-angle-left {
	font-size: 2rem;
	margin-top: 0.4rem;
}

.Android .header .topcoat-navigation-bar__item a.icon-angle-left {
	margin-top: -0.45rem;
}

.footer .topcoat-navigation-bar__item {
	line-height: 3rem !important;
}

.header {
	top: 0;
	-webkit-box-shadow: inset 0 -1px #d3d3d3;
	box-shadow: inset 0 -1px #d3d3d3;
}

.footer {
	bottom: 0;
	-webkit-box-shadow: inset 0 1px #d3d3d3;
	box-shadow: inset 0 1px #d3d3d3;
	height: 2.75rem;
}

.icon {
	font-size: 1.5em;
	color: #ff3600;
	width: 50px;
	display: inline-block;
}

.icon:visited {
	color: #ff3600;
}

.icon:active, .active, .open-state {
	color: #ff8c6d;
}

.active {
	color: #c9c9c9 !important;
}

.page .content {
	position: absolute;
	top: 4rem;
	left: 0;
	right: 0;
	bottom: 2.75rem;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	z-index: 9;
	text-align: left;
}

.Android .page .content, .iOS6_or_lower .page .content {
	top: 2.75rem;
}

.content * {
	margin: 0 !important;
}

.topcoat-list {
	border: 0;
	background-color: #dfe2e2;
}

.topcoat-list__header {
	border: 0px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	background-color: #ff3600;
	color: white;
	font-weight: 800;
	font-size: 1em;
}

.screen {
	position: fixed;
	height: 67%;
	bottom: 0;
	background-color: #dfe2e2;
	z-index: 7;
	width: 100%;
}

#scroller {
	z-index: 8;
	position: relative;
	min-height: 100%;
	background-color: #dfe2e2;
}

.center-left {
	padding-left: 5px;
}

.center-right {
	padding-right: 5px;
}



/* list styles */

#favorites_menu_wrap,
#route_list_wrap, 
#directions_autocomplete,
#directions_routes {
	position: relative;
}

.route-list-retry {
	display: inline-block;
	margin-top: 10px;
}

#favorites_menu_wrap > div,
#infowindow-content > div,
#route_list_wrap > div, 
#directions_autocomplete > div,
#directions_routes > div {
	width: 100%;
}

.topcoat-list__item {
	padding: 0.75rem;
	min-height: 2.5rem;
	background-color: rgb(223, 226, 226);
}

.stopTitle {
	padding: 4px 0.85rem;
}

.small_list .topcoat-list__item {
	min-height: 1rem;
}

.small_nav {
	line-height: normal;
}

.topcoat-list__item p {
	margin: -0.15rem 1rem 0 0.25rem !important;
	font-size: 1rem;
	overflow: hidden;
	height: 1.4rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 200 !important;
	font-family: "Helvetica Neue", "Helvetica", Helvetica Neue, Helvetica, sans-serif !important;
}

#infowindow .topcoat-list__item p,
#directions .topcoat-list__item p {
	margin: -0.15rem 1rem 0 4rem !important;
}


.Android #infowindow .topcoat-list__item p {
	width: 75%;
}

.ui-li-count {
	background-color: #454545;
	color: white;
	font-weight: 800;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	float: left;
	padding: 0.65rem;
	min-width: 1.75rem;
	text-shadow: 0 -1px rgba(0,0,0,0.69);
	line-height: 1rem;
	border: 1px solid #cccccc;
	border-radius: 5px;
}

.icon-angle-right:before {
	float: right;
	padding: 0.55rem 0 0.55rem 0;
	font-size: 1.25rem;
	color: #bcbfbf;
}

.small_list .icon-angle-right:before {
	padding: 0;
}

.updated {
	font-size: 0.75rem;
	width: 100%;
	text-align: center;
	color: #969999;
	padding: 0.5rem 0;
}

.delete-handle, .drag-handle, .delete-handle span, .drag-handle span {
	display: none;
}

.delete-handle, .drag-handle {
	font-size: 1.5rem;
	float: right;
	position: relative;
	color: #bcbfbf;
	top: -2.2rem;
}

.delete-handle {
	right: 3rem;
}

.drag-handle {
	right: -1rem;
}

/* no sortable for android, it just doesn't work... */
.Android .drag-handle {
	display: none !important;
}

.Android .delete-handle {
	right: 1rem;
}

.topcoat-list h2 {
	padding-top: 2rem;
	font-size: 1rem;
}

.topcoat-list p.error {
	padding: 2em 2em 0em 2em;
}

.topcoat-list__item p.favorite-list-item-edit {
	margin-right: 4.5rem !important;
}

.Android .topcoat-list__item a {
	display: block;
}

#route_list_results_wrap, #favorites_results_wrap {
	width: 100%;
}


/* list filters and directions filters */

.filter_wrap, #directions_ui_wrap, #directions_maps_button {
	background-color: #ff3600;
	padding: 0.25rem;
}

#directions_ui_wrap, .filter_wrap {
	position: relative;
	z-index: 10;
}

#directions_maps_button {
	padding: 2rem 0 1rem 0;
}

#directions_maps_button .updated {
	color: #454545;
}

#directions_maps_button a {
	display: inline-block;
	text-decoration: none;
}

#directions_ui_wrap .filter_wrap {
	padding: 0 0.25rem 0 0;
}

.filter_wrap .topcoat-search-input {
	border-radius: 6px;
	height: 2rem;
	width: 100%;
	padding: 0 1.5rem 0 1.5em;
}

#directions_ui_wrap .filter_wrap .topcoat-search-input {
	padding: 0 0 0 1.5rem;
}

.filter_wrap .clear {
	position: relative;
	top: -1.5rem;
	float: right;
	right: 1rem;
	color: rgb(201,203,203);
	height: 0px;
}

.clear {
	clear: both;
}

#directions_button button {
	line-height: 1.9rem;
	padding: 0 0.7rem;
}

#directions_search {
	width: 89%;
}

#directions_button {
	width: 11%;
}

.topcoat-search-input, .topcoat-search-input--large {
	background-position: 0.5em center;
}

/*
.directions_route_list, #directions_ui_wrap {
	-webkit-box-shadow: inset 0 -1px #d3d3d3;
	box-shadow: inset 0 -1px #d3d3d3;
}
*/

/*
.directions_route_list li {
	padding: 4px 0.45rem;
}
*/

.directions_heading {
	background-color: white;
	padding: 0.4rem 0.85rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.directions_heading .directions_heading_title {
	width: 45px;
	display: inline-block;
}

.walking {
	background-color: white;
	color: #454545;
	text-shadow: none;
}

.directions_route_list p {
	overflow: visible;
	white-space: normal;
}

.transit_divider {
	border-bottom: 1px solid #eee;
	margin: 1rem 4rem 0.5rem 4rem !important;
}

.transit_stop_title {
	display: inline-block; 
	width: 60px;
}

#directions .topcoat-list__item p.transit_stop_instructions {
	margin: 0 1rem 0 4rem !important;
	height: auto;
}

#directions .topcoat-list__item p.instructions {
	height: auto;
}

.instructions {
	min-height: 2.5rem;
}

.transit_stop_wrap {
	padding-top: 0.3rem;
}

#start_autocomplete_results {
	overflow: scroll !important;
}


/**
 *
 * Pull to refresh styles
 *
 */
 
#infowindow-content {
	background: #ff3600;
}

/*
#infowindow-routes {
	border-bottom: 8rem solid white;
}
*/

#pullDown, #pullUp {
	background:#ff3600;
	height:1.5rem;
	line-height:1.5rem;
	padding-top: 0.75rem;
	/* border-top: 8rem solid #ff3600; */
	border-bottom:0;
	font-weight:300;
	font-size:1.5rem;
	color: white;
}
#pullDown .pullDownIcon, #pullUp .pullUpIcon  {
	display:block; 
	/* position: fixed; */
	top: 5rem;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;	
}
#pullDown .pullDownIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}
#pullUp .pullUpIcon  {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}

#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
	font-size:1rem;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;
	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}



/* page navigation CSS transitions */

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	display: none;
}

.page.transition {
	
}

.page.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.page.center {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    
}

.page.right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.page.transition {
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
}

.pullDown {
	margin-top:-35px !important;	/* Should match the totalt height (i.e. height + paddings + borders) of #pullDown set above */
}

/*
.pullDown.flip {
	margin-top: -35px !important;
}
*/


/* rail and circulator button colors */

#OR .ui-li-count, #potomac .ui-li-count {
	background-color: rgb(247, 146, 29);
	text-shadow: 0 -1px rgba(0,0,0,0.1);
	border: 1px solid #FFCB5E;
}

#BL .ui-li-count, #blue .ui-li-count {
	background-color: rgb(0, 118, 191);
	text-shadow: 0 -1px rgba(0,0,0,0.2);
	border: 1px solid #41B3FF;
}

#rosslyn .ui-li-count {
	background-color: rgb(0, 173, 238);
	text-shadow: 0 -1px rgba(0,0,0,0.2);
	border: 1px solid #C2E6FF;
}

#RD .ui-li-count, #mall .ui-li-count {
	background-color: #ff3600;
	text-shadow: 0 -1px rgba(0,0,0,0.2);
	border: 1px solid #FFCDC0;
}

#SV .ui-li-count {
	background-color: #838383;
	text-shadow: 0 -1px rgba(0,0,0,0.2);
	border: 1px solid #b8b8b8;
}

#YL .ui-li-count, #yellow .ui-li-count, #gtownpm .ui-li-count {
	background-color: rgb(255, 210, 0);
	text-shadow: 0 -1px rgba(0,0,0,0.1);
	border: 1px solid #ffe918;
}

#GR .ui-li-count, #green .ui-li-count {
	background-color: rgb(0, 169, 78);
	text-shadow: 0 -1px rgba(0,0,0,0.2);
	border: 1px solid #00C700;
}

#yellow .ui-li-count span, #green .ui-li-count span, #gtownpm .ui-li-count span, #rosslyn .ui-li-count span, #blue .ui-li-count span, #potomac .ui-li-count span {

}

#yellow .ui-li-count span, #green .ui-li-count span, #gtownpm .ui-li-count span, #rosslyn .ui-li-count span, #blue .ui-li-count span, #potomac .ui-li-count span, #mall .ui-li-count span {
	display: none;
}