<?xml version='1.0' encoding='utf-8'?>
<widget id="org.JasonRosenbaum.WheresTheBusDC" version="1.8.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BusTrackDC</name>
    <description>
        A bus tracking app for the Washington, DC metro rail and bus and circulator system.
    </description>
    <author email="seminal@theseminal.com" href="http://bustrackdc.com">
        Jason Rosenbaum
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
