/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
	background-image: url("../img/lightlinen-bg.png");
	background-repeat: repeat !important;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    /*
background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    text-transform:uppercase;
*/
    
    height:100%;
    margin:0px;
    padding:0px;
    width:320;
    overflow: hidden;
    background-image: url("../img/lightlinen-bg.png");
	background-repeat: repeat !important;
}



/*
h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}
*/

#gps_map {
	background-repeat: repeat !important;
	
}

.ui-popup-screen {
	height: 110%;
}

/*
.ui-footer h1 {
	margin-top: 8px;
	padding-right: 1em !important;
}
*/

/*
.ui-footer .ui-btn {
	position: relative;
	top: 0px;
}
*/

/*
.refresh_location, .back_btn, .favorites_menu_btn {
	float: left;
	margin-top: 0.1em !important;
}

.footer_title {
	float: right;
}
*/

.center {
	display: block;
	text-align: center;
	margin-top: 50px;
}


.ui-footer .ui-controlgroup  {
	margin-left: 8px;
}



.ui-header .ui-btn {
	margin-top: 3px;
}


.ui-header .ui-icon {
	top: 49% !important;
}

.ui-header .ui-btn-text, .ui-footer .ui-btn-text {
	top: -1px;
}

.stopTitle, .favoriteMenuStopTitle {
	text-transform: lowercase;
	text-overflow: ellipsis;
	min-width: 250px;
}

#favorite {
	margin-top: 1px;
	margin-right: 4px;
}

.stopName {
	display: block;
	height: 24px;
	margin-top: 4px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 89%;
	overflow: hidden;
}

#infowindow .route-detail-btn {
	padding-bottom: 0.1em !important;
}

/*target the count bubbles and left align them, by default they are right aligned*/
#infowindow .ui-li-has-count .ui-li-count {
    left  : 10px !important;
    right : auto !important;
}

#infowindow .ui-li-desc {
	padding-left: 12px !important;
}

/*target the link in which the count bubbles reside and add some padding so the bubbles and link text don't overlap*/
/*notice this is only applied to list-items that actually have count bubbles*/
#infowindow .ui-li-has-count .ui-btn-inner a.ui-link-inherit {
    padding-left : 35px !important;
}

.ui-icon-currloc {
	background-image: url("../img/currloc-icon.png");
	background-size: 18px 18px;
}


#infowindow .ui-btn-text {
	width: 115%;
}

#infowindow .ui-li > .ui-btn-inner {
	overflow: hidden;
}

.drag-handle {
	display: none;
	background-image: url("../img/sort.png");
	background-repeat: no-repeat;
	background-size: 30px 30px;
	height: 30px;
	width: 30px;
	position: absolute;
	top: 44%;
	margin-top: -9px;
	right: 10px;
	text-indent: -99999em;
}

.delete-handle {
	display: none;
	background-image: url("../img/delete.png");
	background-repeat: no-repeat;
	background-size: 25px 25px;
	height: 25px;
	width: 25px;
	position: absolute;
	top: 47%;
	margin-top: -9px;
	right: 50px;
	text-indent: -99999em;
}

/*
.drag-handle:before {
content: "";
  position: absolute;
  left: 0;
  top: 0.21em;
  bottom: 0.21em;
  width: 1em;
  background: linear-gradient(
    top, 
    black, black 20%, 
    white 20%, white 40%, 
    black 40%, black 60%, 
    white 60%, white 80%, 
    black 80%, black 100%
  );
}
*/

/*
#favorites_menu_content, #favorites_menu_header {
	display: none;
}
*/


/* change jquery mobile transition speed */
.in {
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-duration: 150ms;
	-moz-animation-timing-function: ease-out;
	-moz-animation-duration: 150ms;
}

.out {
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-duration: 125ms;
	-moz-animation-timing-function: ease-in;
	-moz-animation-duration: 125ms;
}


