/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
	
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    /*
background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    text-transform:uppercase;
*/
    
   /*
 height:100%;
    margin:0px;
    padding:0px;
    overflow: hidden;
*/
}

/* main UI *************************************************/

body {
	font-family: "Helvetica Neue", "Helvetica", Helvetica Neue, Helvetica, sans-serif !important;
}

.topcoat-navigation-bar {
	position: fixed;
	width: 100%;
	padding-left: 0.5rem;
	z-index: 10;
}

.topcoat-navigation-bar__title {
	font-size: 1rem;
	font-weight: 500;
}

.header .topcoat-navigation-bar__item {
	padding: 10px 0 0 0;
}

.footer .topcoat-navigation-bar__item {
	line-height: 3rem !important;
}

.header {
	top: 0;
	-webkit-box-shadow: inset 0 -1px #d3d3d3;
	box-shadow: inset 0 -1px #d3d3d3;
}

.footer {
	bottom: 0;
	-webkit-box-shadow: inset 0 1px #d3d3d3;
	box-shadow: inset 0 1px #d3d3d3;
	height: 2.75rem;
}

.icon {
	font-size: 1.5em;
	color: #ff3600;
	width: 50px;
	display: inline-block;
}

.icon:visited {
	color: #ff3600;
}

.icon:active, .active {
	color: #ff8c6d;
}

.active {
	color: #c9c9c9 !important;
}

.page .content {
	position: absolute;
	top: 4rem;
	left: 0;
	right: 0;
	bottom: 2.75rem;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	z-index: 9;
	text-align: left;
}

.content * {
	margin: 0 !important;
}

.topcoat-list {
	border: 0;
	background-color: #dfe2e2;
}

.topcoat-list__header {
	border: 0px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	background-color: #ff3600;
	color: white;
	font-weight: 800;
	font-size: 1em;
}

.screen {
	position: fixed;
	height: 67%;
	bottom: 0;
	background-color: #dfe2e2;
	z-index: 7;
	width: 100%;
}

#scroller {
	z-index: 8;
	position: relative;
}

/**
 *
 * Pull to refresh styles
 *
 */
 
#infowindow-content {
	background: #ff3600;
}

/*
#infowindow-routes {
	border-bottom: 8rem solid white;
}
*/

#pullDown, #pullUp {
	background:#ff3600;
	height:1.5rem;
	line-height:1.5rem;
	padding-top: 0.75rem;
	/* border-top: 8rem solid #ff3600; */
	border-bottom:0;
	font-weight:300;
	font-size:1.5rem;
	color: white;
}
#pullDown .pullDownIcon, #pullUp .pullUpIcon  {
	display:block; 
	/* position: fixed; */
	top: 5rem;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;	
}
#pullDown .pullDownIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}
#pullUp .pullUpIcon  {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}

#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
	font-size:1rem;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;
	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}



/* page navigation CSS transitions */

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	display: none;
}

.page.transition {
	
}

.page.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.page.center {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    
}

.page.right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.page.transition {
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
}







/*
h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}
*/
/*
#gps_map {
	background-repeat: repeat !important;
	
}*/

/*
.ui-popup-screen {
	height: 110%;
}
*/

/*
.ui-footer h1 {
	margin-top: 8px;
	padding-right: 1em !important;
}
*/

/*
.ui-footer .ui-btn {
	position: relative;
	top: 0px;
}
*/

/*
.refresh_location, .back_btn, .favorites_menu_btn {
	float: left;
	margin-top: 0.1em !important;
}

.footer_title {
	float: right;
}
*/

/*
.center {
	display: block;
	text-align: center;
	margin-top: 50px;
}


.ui-footer .ui-controlgroup  {
	margin-left: 8px;
}



.ui-header .ui-btn {
	margin-top: 3px;
}


.ui-header .ui-icon {
	top: 49% !important;
}

.ui-header .ui-btn-text, .ui-footer .ui-btn-text {
	top: -1px;
}

.stopTitle, .favoriteMenuStopTitle {
	text-overflow: ellipsis;
	min-width: 250px;
}

#favorite {
	margin-top: 1px;
	margin-right: 4px;
}

.stopName {
	display: block;
	height: 24px;
	margin-top: 4px;
	text-overflow: ellipsis;
	white-space: nowrap;
	/* width: 89%; */
	/*overflow: hidden;
}

#infowindow-content {
	overflow: visible !important;
}

#infowindow .route-detail-btn {
	padding-bottom: 0.1em !important;
}
*/

/*target the count bubbles and left align them, by default they are right aligned*/
/*
#infowindow .ui-li-has-count .ui-li-count {
    left  : 10px !important;
    right : auto !important;
}

#infowindow .ui-li-desc {
	padding-left: 12px !important;
}
*/

/*target the link in which the count bubbles reside and add some padding so the bubbles and link text don't overlap*/
/*notice this is only applied to list-items that actually have count bubbles*/
/*
#infowindow .ui-li-has-count .ui-btn-inner a.ui-link-inherit {
    padding-left : 35px !important;
}

.ui-icon-currloc {
	background-image: url("../img/currloc-icon.png");
	background-size: 18px 18px;
}


#infowindow .ui-btn-text {
	width: 115%;
}

#infowindow .ui-li > .ui-btn-inner {
	overflow: hidden;
}

.ui-li-has-arrow.ui-li-has-count .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-arrow.ui-li-has-count {
	padding-right: 78px !important;
}

.drag-handle {
	display: none;
	background-image: url("../img/sort.png") !important;
	background-repeat: no-repeat;
	background-size: 30px 30px;
	height: 30px;
	width: 30px;
	position: absolute;
	top: 44%;
	margin-top: -9px;
	right: 10px;
	text-indent: -99999em;
}

.delete-handle {
	display: none;
	background-image: url("../img/delete.png") !important;
	background-repeat: no-repeat;
	background-size: 25px 25px;
	height: 25px;
	width: 25px;
	position: absolute;
	top: 47%;
	margin-top: -9px;
	right: 50px;
	text-indent: -99999em;
}

.ui-li-has-arrow .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-arrow {
	padding-right: 40px;
}
*/

/*
.drag-handle:before {
content: "";
  position: absolute;
  left: 0;
  top: 0.21em;
  bottom: 0.21em;
  width: 1em;
  background: linear-gradient(
    top, 
    black, black 20%, 
    white 20%, white 40%, 
    black 40%, black 60%, 
    white 60%, white 80%, 
    black 80%, black 100%
  );
}
*/

/*
#favorites_menu_content, #favorites_menu_header {
	display: none;
}
*/

/* move the loader to the lower right */

/*
.ui-loader {
	bottom: 9px !important;
	right: 9px !important;
	top: inherit !important;
	left: inherit !important;
}

.ui-loader-default {
	width: 32px !important;
	height: 32px !important;
}

.ui-loader .ui-icon {
	width: 30px !important;
	height: 30px !important;
}

.ui-icon-loading {
	background-size: 32px 32px;
}

#route_list_content h2 {
	font-size: 14px;
}
*/

/* pull to refresh */
/*
.iscroll-pulldown, .iscroll-pullup {
	background: none !important;
}

.iscroll-content li  {
     -webkit-transform: translateZ(0);
}
*/


/* date format */

/*
.updated, .updated a.ui-link {
	font-size: 10px;
	text-align: center;
	margin: 10px 0;
	color: #a6a6a6 !important;
	font-weight: normal !important;
}
*/


/* change jquery mobile transition speed */
/*
.in {
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-duration: 150ms;
	-moz-animation-timing-function: ease-out;
	-moz-animation-duration: 150ms;
}

.out {
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-duration: 125ms;
	-moz-animation-timing-function: ease-in;
	-moz-animation-duration: 125ms;
}
*/

/* rail button colors */

/*
#OR .ui-li-count, #potomac .ui-li-count {
	background-image: -webkit-gradient(linear,left top,left bottom,from( #ffc155 ),to( #ffedb2 )) !important;
	background-image: -webkit-linear-gradient(#ffc155, #ffedb2) !important;
	background-image: -moz-linear-gradient( #ffc155,#ffedb2 ) !important;
	background-image: -ms-linear-gradient( #ffc155,#ffedb2 ) !important;
	background-image: -o-linear-gradient( #ffc155,#ffedb2 ) !important;
	background-image: linear-gradient( #ffc155,#ffedb2 ) !important;
}

#BL .ui-li-count {
	background-image: -webkit-gradient(linear,left top,left bottom,from( #76afff ),to( #bbdfff )) !important;
	background-image: -webkit-linear-gradient(#76afff, #bbdfff) !important;
	background-image: -moz-linear-gradient( #76afff,#bbdfff ) !important;
	background-image: -ms-linear-gradient( #76afff,#bbdfff ) !important;
	background-image: -o-linear-gradient( #76afff,#bbdfff ) !important;
	background-image: linear-gradient( #76afff,#bbdfff ) !important;
}

#rosslyn .ui-li-count {
	background-image: -webkit-gradient(linear,left top,left bottom,from( #a7deff ),to( #e5f6ff )) !important;
	background-image: -webkit-linear-gradient(#a7deff, #e5f6ff) !important;
	background-image: -moz-linear-gradient( #a7deff,#e5f6ff ) !important;
	background-image: -ms-linear-gradient( #a7deff,#e5f6ff ) !important;
	background-image: -o-linear-gradient( #a7deff,#e5f6ff ) !important;
	background-image: linear-gradient( #a7deff,#e5f6ff ) !important;
}

#blue .ui-li-count {
	background-image: -webkit-gradient(linear,left top,left bottom,from( #3e5cd9 ),to( #7891f4 )) !important;
	background-image: -webkit-linear-gradient(#3e5cd9, #7891f4) !important;
	background-image: -moz-linear-gradient( #3e5cd9,#7891f4 ) !important;
	background-image: -ms-linear-gradient( #3e5cd9,#7891f4 ) !important;
	background-image: -o-linear-gradient( #3e5cd9,#7891f4 ) !important;
	background-image: linear-gradient( #3e5cd9,#7891f4 ) !important;
}

#RD .ui-li-count {
	background-image: -webkit-gradient(linear,left top,left bottom,from( #ff8080 ),to( #ffbbbb )) !important;
	background-image: -webkit-linear-gradient(#ff8080, #ffbbbb) !important;
	background-image: -moz-linear-gradient( #ff8080,#ffbbbb ) !important;
	background-image: -ms-linear-gradient( #ff8080,#ffbbbb ) !important;
	background-image: -o-linear-gradient( #ff8080,#ffbbbb ) !important;
	background-image: linear-gradient( #ff8080,#ffbbbb ) !important;
}

#YL .ui-li-count, #yellow .ui-li-count, #gtownpm .ui-li-count {
	background-image: -webkit-gradient(linear,left top,left bottom,from( #fffa6a ),to( #ffffcc )) !important;
	background-image: -webkit-linear-gradient(#fffa6a, #ffffcc) !important;
	background-image: -moz-linear-gradient( #fffa6a,#ffffcc ) !important;
	background-image: -ms-linear-gradient( #fffa6a,#ffffcc ) !important;
	background-image: -o-linear-gradient( #fffa6a,#ffffcc ) !important;
	background-image: linear-gradient( #fffa6a,#ffffcc ) !important;
}

#GR .ui-li-count, #green .ui-li-count {
	background-image: -webkit-gradient(linear,left top,left bottom,from( #91d197 ),to( #d3f9d3 )) !important;
	background-image: -webkit-linear-gradient(#91d197, #d3f9d3) !important;
	background-image: -moz-linear-gradient( #91d197,#d3f9d3 ) !important;
	background-image: -ms-linear-gradient( #91d197,#d3f9d3 ) !important;
	background-image: -o-linear-gradient( #91d197,#d3f9d3 ) !important;
	background-image: linear-gradient( #91d197,#d3f9d3 ) !important;
}

#yellow .ui-li-count span, #green .ui-li-count span, #gtownpm .ui-li-count span, #rosslyn .ui-li-count span, #blue .ui-li-count span, #potomac .ui-li-count span {
	background-image: url('../img/circulator-icon.png') !important;
	background-size: 10px 10px;
	background-repeat: no-repeat;
	background-position: 2px 2px;
	height: 14px;
	width: 14px;
	display: block;
}

#yellow .ui-li-count, #green .ui-li-count, #gtownpm .ui-li-count, #rosslyn .ui-li-count, #blue .ui-li-count, #potomac .ui-li-count {
	text-indent: -99999em;
}
*/